.container {
    margin: auto;
    /*justify-content: center;
    align-items: center;*/
    height:550px;
    margin-top: 50px;
    background-color: rgb(228, 234, 236);
    width: 30%;
    padding: 20px;
    border: 2px solid black;
    
}

#one {
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: small;
    font-style: italic;
}

input {
    padding: 10px;
    border:2px solid black;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
}

button {
     padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    width: 200px;
    background-color: black;
    color: white;
    border: 2px solid black;

}


a {
    text-decoration: underline 1px black;
}


.two {
     text-align: center;
    margin-right: 60px;
}


img{
    width: 350px;
}
